*,
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Volkhov';font-size: 22px;
    background-color: #FCFEF2;
}
.nav {
    background-color: #FCFEF2;
    box-shadow: 1px 1px 3px gray;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 10px;
    align-items: center;
}
.games {
    padding-left: 20px;
}
.games>p {
    font-size: 50px;
}
.menu {
    padding: 10px 30px;
}
.navtitle {
    color: #FF6060;
}
.box {
    background-color: #FF6060;
    width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}
.box:hover {
    background-color: #FF6060;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 1.1;
    cursor: pointer;
    .boxbox {
        rotate: -90deg;
        display: column;
    }
    #box1 {
        width: 7px;
    }
    #box2 {
        width: 25px;
    }
}
.boxbox {
    transition: 0.3s;
    justify-items: flex-end;
}
.boxes {
    background-color: #FCFEF2;
    width: 30px;
    height: 3.5px;
    margin: 3px;
    padding: 2px;
    transition: 0.3s;
}
.titleseccont {
    display: flex;
    padding: 110px 50px 30px 50px;
    justify-content: flex-start;
}
.letsplay {
    font-size: 100px;
}
.sec1 {
    padding: 0 50px;
}
#c1 {
    background-color: #5BA0FF;
    width: 195px;
    height: 55px;
    color: #FCFEF2;
    font-size: 40px;
    text-decoration: none;
}
.garticio a {
    color: #FCFEF2;
    font-size: 40px;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .letsplay {
        font-size: 80px;
    }
    
}